<div class="box">
          <h2 class="subtitle is-4"><span class="title is-3">3. </span>Cluster</h2>
          <hr>
          <div class="select is-rounded">
            <select>
              <option>Kmeans</option>
              <option>Other Algo</option>
            </select>
          </div>
          <br>
          <br>
          <div class="select is-rounded">
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </div>
          <br>
          <br>
          <button (click)="cluster()" class="button">Click! 😊</button>
        </div>