<section>
  <div class="bg">
    <div class="columns">
      <div class="column is-3">
        <div class="box welcome">
          <h2 class="subtitle is-4 has-text-center">Welcome to </h2>
          <h1 class="title is-3 ">WebClustering.io</h1>
        </div>
        <div class="box">
          <app-insert-data></app-insert-data>
        </div>
        <div class="box">
          <h2 class="subtitle is-4"><span class="title is-3">2. </span>Set Headers</h2>
          <hr>
          <app-headers></app-headers>
        </div>
      </div>
      <div class="column is-6">
        <br>
        <article class="message">
          <div class="message-header">
            <p>WebClustering.io</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            <p>Multi-Dimensional Mixed Data Clustering as easy as 1,2,3!</p>
            <a href="#">About</a> .
            <a href="#">Contact</a> .
            <a href="#">Support</a> .
            <a href="#">Github</a> .
            <a href="#">Instagram</a>
          </div>
        </article>
        <div class="vidbox">
          <app-my-loader></app-my-loader>
          <br>
          <div #chart>
            
          </div>
        </div>
        <div class="box">
          <h2 class="subtitle is-5"><code>CONSOLE</code> </h2>
        </div>
      </div>
      <div class="column is-3">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="box">
          <h2 class="subtitle is-4"><span class="title is-3">3. </span>Cluster</h2>
          <hr>
          <div class="select is-rounded">
            <select>
              <option>Kmeans</option>
              <option>Other Algo</option>
            </select>
          </div>
          <br>
          <br>
          <div class="select is-rounded">
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </div>
          <br>
          <br>
          <button class="button">Click! 😊</button>
        </div>
      </div>
    </div>
  </div>
</section>
